accelerate
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
asyncpg
attrs
beautifulsoup4
certifi
charset-normalizer
click
colorlog
defusedxml
dill
docling
docling-core
docling-ibm-models
docling-parse
et_xmlfile
Faker
filelock
filetype
fsspec
greenlet
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
joblib
jsonlines
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-specifications
langchain-core
langchain-huggingface
langchain-postgres
langsmith
latex2mathml
lxml
markdown-it-py
marko
MarkupSafe
mdurl
mpire
mpmath
multiprocess
networkx
numpy
ocrmac
omegaconf
opencv-python
openpyxl
orjson
packaging
pandas
pgvector
pillow
pluggy
polyfactory
psutil
psycopg
psycopg-binary
psycopg-pool
pyclipper
pydantic
pydantic-settings
pydantic_core
Pygments
pylatexenc
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreML
pyobjc-framework-Quartz
pyobjc-framework-Vision
pypdfium2
python-dateutil
python-docx
python-dotenv
python-pptx
pytz
PyYAML
rapidocr
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rtree
safetensors
scikit-learn
scipy
semchunk
sentence-transformers
setuptools
shapely
shellingham
six
soupsieve
SQLAlchemy
sympy
tabulate
tenacity
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
tree-sitter
tree-sitter-c
tree-sitter-javascript
tree-sitter-python
tree-sitter-typescript
typer
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
xlsxwriter
xxhash
zstandard
